:root {
  --color-primary: #3b82f6;
  --color-secondary: #10b981;
  --color-tertiary: #f59e0b;
  --color-neutral: #090d16;

  --color-background: #161922;
  --color-surface: #20232d;
  --color-border: #303440;

  --color-text: #f1f3f9;
  --color-text-muted: #969baa;
}
:root {
  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "JetBrains Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
